/* layout css */
.head_txt{
    color: rgb(21, 136, 182);
}
/* search component css */
.search_component{
    margin:10px 0;
}
.search_tip{
    background: grey;
    margin:0 0 10px 0;
}
.search_info{
    /* display:flex*/
     display:inline-block;
     width: 80%;
    }
.search_button{
    display:inline-block;
}
.search_button button{
    margin:0 10px;
}
.search_input{
    display:inline-block;
    margin:0 20px 0 0;
}
.search_select{
    display:inline-block;
    /* margin:0 20px; */
}

/* table component css */
.table_txt{
    background: rgb(21, 136, 182);
    /* padding: 5px; */
    /* margin-left: 2px; */
}
/* autd css */
.ant-btn {
    margin-left: 12px;
}